<div class="container">
  <div class="section-header">
    <h3> Ereignisse </h3>
  </div>

<table class="activitytable u-full-width">
<tbody>
  <tr>
    <td nowrap class="firstcolumn"><span class="timelabel">Zeitpunkt: </span>09 / 2017</td>
    <td class="secondcolumn">Programmierung mit Kotlin - Eine spannende Alternative zu Java</td>
    <td>Wissendurst Vortragsreihe, Startplatz Köln</td>
    <td><a class="icon-link" href="https://www.explicatis.com/wissensdurst" target="_blank" rel="noopener"><i class="fa fa-external-link-square" aria-hidden="true"></i><span class="linktext">Link</span></a>
  </tr>
  <tr>
    <td nowrap class="firstcolumn"><span class="timelabel">Zeitpunkt: </span>05 / 2015</td>
    <td class="secondcolumn">Fortschrittliche Java-ORM-Lösungen</td>
    <td>Wissendurst Vortragsreihe, Startplatz Köln</td>
    <td><a class="icon-link" href="https://www.explicatis.com/wissensdurst" target="_blank" rel="noopener"><i class="fa fa-external-link-square" aria-hidden="true"></i><span class="linktext">Link</span></a>
  </tr>
  <tr>
    <td nowrap class="firstcolumn"><span class="timelabel">Zeitpunkt: </span>10 / 2014</td>
    <td class="secondcolumn">Vaadin 7 Certified Developer</td>
    <td>Zertifikat</td>
    <td><a class="icon-link" href="https://vaadin.com/certificate/-/view/638405beb2b9c49087cd14a30de9c6f4" target="_blank" rel="noopener"><i class="fa fa-external-link-square" aria-hidden="true"></i><span class="linktext">Link</span></a>
  </tr>
  <tr>
    <td nowrap class="firstcolumn"><span class="timelabel">Zeitpunkt: </span>08 / 2014</td>
    <td class="secondcolumn">Schnell gewebt - Vaadin 7.3: Webseiten im GUI-Stil erstellen</td>
    <td>iX - Magazin</td>
    <td><a class="icon-link" href="https://shop.heise.de/katalog/schnell-gewebt" target="_blank" rel="noopener"><i class="fa fa-external-link-square" aria-hidden="true"></i><span class="linktext">Link</span></a>
  </tr>
  <tr>
    <td nowrap class="firstcolumn"><span class="timelabel">Zeitpunkt: </span>07 / 2012</td>
    <td class="secondcolumn">PDF Scrutinizer: Detecting JavaScript-based attacks in PDF documents</td>
    <td>2012. Tenth Annual International Conference on Privacy, Security and Trust (PST). Paris</td>
    <td><a class="icon-link" href="http://ieeexplore.ieee.org/abstract/document/6297926/" target="_blank" rel="noopener"><i class="fa fa-external-link-square" aria-hidden="true"></i><span class="linktext">Link</span></a>
  </tr>
  <tr>
    <td nowrap class="firstcolumn"><span class="timelabel">Zeitpunkt: </span>09 / 2011</td>
    <td class="secondcolumn">Improving shellcode emulation performance</td>
    <td>Google Summer of Code 2011</td>
    <td><a class="icon-link" href="http://www.honeynet.org/gsoc2011/slot12" target="_blank" rel="noopener"><i class="fa fa-external-link-square" aria-hidden="true"></i><span class="linktext">Link</span></a>
  </tr>
</tbody>

  </table>
</div>
